# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Editors
.vscode/
.idea/
*.swp

# Dependencies
node_modules/
npm-debug.log
yarn-error.log

# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfplan

# Konfiguracje z danymi wrażliwymi (subscription_id, tenant_id)
#**/terraform.tfvars
**/backend.hcl
#**/backend.tmp
#**/*.tmp

# Wewnętrzne (tylko dla developmentu)
ai-instructions/
**/runbook.ipynb

# Steps
#step-*/
*/terraform.example
*/variables.example